<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tr>
        <td>First Name:</td>
        <td><%=element.fname%></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><%=element.lname%></td>
      </tr>
      <tr>
        <td>Age:</td>
        <td><%=element.age%></td>
      </tr>
      <tr>
        <td>Gender:</td>
        <td><%=element.gender%></td>
      </tr>
      <tr>
        <td>Number:</td>
        <td><%=element.number%></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%=element.email%></td>
      </tr>
      <tr>
        <td>Hobbies:</td>
        <td><%=hobbies%></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><%=element.address%></td>
      </tr>
    </table>
  </body>
</html>
